[Unit]
Description=AESD Socket Server
After=network.target

[Service]
ExecStart=/usr/bin/aesdsocket
Restart=always

[Install]
WantedBy=multi-user.target
